/* 
    Document   : global
    Created on : 6 mai 2013, 11:50:12
    Author     : bernard
    Description:
        Purpose of the stylesheet follows.
*/

/*div {
    
}

#header{
    border : 1px solid black;
    height: 100px;
    padding: 10px;
}


#main{
    
}
#content{
    border : 1px solid black;
    padding: 10px;
}
#col2{
    border : 1px solid black;
    padding: 10px;
}

#footer{
    border : 1px solid black;
    padding: 10px;
}*/